{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% if books %}
            {% for book in books%}
            <div class="book col-md-4">
                <h2>{{book.name}}</h2>
                <p>Автор: {{book.author}}</p>
                <p>Дата публикации: {{book.pub_date|date:'Y-m-d'}}</p>
            </div>
            {% endfor %}
            {% elif current_date %}
            <div class="col-md-12">
            <h2>В каталоге нет книг, опубликованных {{current_date|date:'Y-m-d'}}</h2>
            </div>
            {% else %}
            <div class="col-md-12">
            <h2>Ошибка в запросе</h2>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-2">
            {% if prev_date %}<a href="/books/{{prev_date|date:'Y-m-d'}}/">< {{prev_date|date:'Y-m-d'}}</a>{% endif %}
            </div>
            <div class="col-md-2">
            {% if next_date %}<a href="/books/{{next_date|date:'Y-m-d'}}/">{{next_date|date:'Y-m-d'}} ></a>{% endif %}
            </div>
        </div>
    </div>
{% endblock %}